<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Calorie counter</h2>
        <form action="/" method="POST">
            <label for="name" id="name">type</label>
            <input type="text" name="name" id="name">
            <label for="description" id="description">description</label>
            <input type="text" name="description" id="description">
            <label for="calories" id="calories">Calories</label>
            <input type="number" name="calories" id="calories">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>
